/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* css custom properties */
:root {
    --font-Poppins: 'Poppins', sans-serif;
}

/* common styles */
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F3F1FF;
    font-family: var(--font-Poppins);
    /* css custom property */
}

h3 {
    font-size: 20px;
}

.container {
    background-color: white;
    /* width: 870px; */
    width: 840px;
    border-radius: 5px;
    padding: 30px;
}

hr {
    border: 1px solid #D1D1D1;
    background-color: #D1D1D1;
}

.section-title {
    font-size: 24px;
    color: #562EFF;
    margin-bottom: 10px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 36px 0;
    row-gap: 21px;
}

/* top player & top bolg styles */
/* top player styles */
.top-players {}



.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 30px;
    padding: 30px 0;
}

.player {
    display: flex;
    align-items: center;
}

.player img {
    height: 56px;
    width: 56px;
}

.player h4 {
    margin-left: 16px;
    font-size: 18px;
}

/* top bolg styles */
.top-blogs {
    margin-top: 30px;
}

.blogs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 26px 40px;
    margin-top: 30px;
}

.blog {
    display: flex;
    column-gap: 16px;
}

.blog-thumbnail {}

.blog-thumbnail img {
    width: 177px;
    height: 117px;
    cursor: pointer;
    transition: transform .5s;
}

.blog-thumbnail img:hover {
    transform: scale(1.1)
}

.blog-info {}

.blog-info h3 {
    font-size: 20px;
}

.blog-info p {
    font-size: 16px;
    color: #9F9F9F;
}

.blog-info p a {
    color: #562EFF;
    text-decoration: none;
}

.blog-info p a:hover {
    font-weight: 600;
}

/* Latest Course styles */
.latest-courses {}

.courses {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.course {
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0px 1px 10px #d3d3d370;
}

.course-banner {
    width: 100%;
    height: 104px;
    margin-bottom: 20px;
}

.course-banner img {
    width: 100%;
    height: 100%;
}

.course-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.course-title {
    margin-bottom: 10px;
}

.course-author {
    color: #ED6B4F;
    cursor: pointer;
}

.course-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.course-ratings {
    font-size: 16px;
    display: flex;
    align-items: center;
}

.fa-star {
    font-size: 13px;
}

.fa-star.filled {
    color: #FFC014;
}

.fa-star.empty {
    color: #AEAEAE;
}

.course-ratings span {
    color: #A2A2A2;
    margin-left: 8px;
}

.course-info p {
    color: #FF4A60;
    font-size: 15px;
    background-color: #FFE4E8;
    padding: 5px 10px;
    border-radius: 15px;
}

.fa-clock {}